<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog review...</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{{_sections.css}}}
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top"
    style="background-color:#c9eff7;font-size: 0.5cm;font-weight: bold; max-height: 110px;">
    <div class="container">
      <div>
        <div class="logo">
          <a title="e-commerce" href="/"> </a>
          <div class="form-group-row ">&nbsp;
            <a href="/" rel="home">
              <img style="width: 100px;height: 100px; margin-bottom: -25%;" src="https://lh3.googleusercontent.com/x2Dcj_Wb_x-PNiZWMG0iYb12ZolaA80S_otr-lFITci1Y_B2pxJbErPCguqESau0H5F4SHooasgrqmoNWmdQdckoB2mTSh0Bsnun8znN6IzGkoDRPPMZ9YgW4pJC71Bv85Pzul2UctQ2IZLLKB-wdSOQ92zPkpkRcntzQe4MCsVRm_j7K1kzP5LrHOkKeKmNu9Q914VmNH3ej2ekv6dyZ3UMwRD3sxEVwPKudr7xB9D5Bad6BoKn0OB4OCrsT4zBlvQOMq5Ml7LOU67ILSAx571Fzxd0D_NA97rn8FPGuIH8nsy7RlqjNA7DzuTXxyL-ZG0car51iYRKAg3OIF8sqXM8tw4v7g6PKla6dxojag3lNdA9iTMQAADTDyTc688yN9VQ_nlTXeEJ6p9q__8DwXDwA2PO8QRg72-5K7hF3uc7HEwyX_sJd77rzuvx4FuMzUT3O8q9_NQcvYMJ1fYE5FcfQQtwzwrtTLTGQ_Quv23fQSfTGbH5I8iVtn3x2Xjn7--OqXzd4MbmbLuPc2f6AeqxXzzuAliSG1AG2b2mEWZ2IGPpYc1u4HSpPc9kT0s3l4Ujruc_Ht4huU9QPmmo0VkarbLqiRJ6WDPA8WAUv-K2slvLYvzyiwqGpYbMjnA-7mFCdmoy6AzR-vWKejYdpXk1XFp3yXU_YRKxRru-iuRJOAdFo79_EJytj52Yyw=s625-no?authuser=0" />
            </a>
          </div>
          &nbsp;
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Trang chủ
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Giới thiệu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/TamNhinSuMenh">Tầm nhìn sứ mệnh</a>
              <a class="dropdown-item" href="/LinhVucHoatDong">Lĩnh vực hoạt động</a>
              <a class="dropdown-item" href="/doingu">Đội ngũ chuyên gia</a>
              <a class="dropdown-item" href="/cauhoithuonggap">Câu hỏi thường gặp</a>
              {{!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>--}}
            </div> 
          </li>
          <li class="nav-item dropdown">
            {{!-- <a class="nav-link" href="/DichVuTamLy">Dịch vụ tâm lý</a> --}}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dịch vụ tâm lý
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/thamvan">Tham vấn - tư vấn tâm lý</a>
              <a class="dropdown-item" href="/giaoduc">Giáo dục kỹ năng sống</a>
            </div> 

          </li>
           <li class="nav-item">
            <a class="nav-link" href="/tintuc">Tin Tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 10%;">

    {{{body}}}

  </div>

  <!-- Footer -->
  <footer class="py-5" style="background-color:grey;font-weight: bold;">
    <div class="container">
      <p class="m-0 text-center text-white">NTD Group - Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  {{{_sections.js}}}
</body>

</html>