<!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__text">
                        <h3 style="color: navy;">Liên Hệ</h3>
                        <p style="color: crimson;">Nhà phát triển : NTD Group </p>
                        <ul>
                            <li>
                                <span class="fa fa-map-marker"></span>
                                <h5>Địa chỉ</h5>
                                <p>Phòng A11, Trường THPT Nghèn
Khối 6, thị trấn Nghèn, Huyện Can Lộc, Tỉnh Hà Tĩnh
</p>
                            </li>
                            <li>
                                <span class="fa fa-mobile"></span>
                                <h5>Điện thoại</h5>
                                <p>0981187341- 0393.845.567</p>
                            </li>
                            <li>
                                <span class="fa fa-headphones"></span>
                                <h5>Email</h5>
                                <p>ThamvanhocduongA11@gmail.com</p>
                            </li>
                        </ul>
                        <div class="contact__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.6980265213915!2d105.76986751392515!3d18.452014987448926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139b4c8cf71a7fd%3A0x9f71b99f859f5bbd!2zVHLGsOG7nW5nIFRIUFQgTmdow6hu!5e0!3m2!1svi!2s!4v1600506949935!5m2!1svi!2s" 
                        height="515" width="800px" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
