<div class="row" id="row-813817483">
    <div class="col medium-5 small-12 large-5">
        <div class="col-inner">
            <div class="row" id="row-892440339">
                <div class="col medium-5 small-12 large-5">
                    <div class="col-inner">
                    </div>
                </div>
                {{!-- <div class="col medium-7 small-12 large-7">
                    <div class="col-inner">
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_508893853">
                            <div class="img-inner image-cover dark" style="padding-top:99%;">
                                <img width="500" height="693"
                                    src="https://mindcare.vn/wp-content/uploads/2020/05/8806_3914087093905_141371863_n.jpg"
                                    class="attachment-large size-large" alt=""
                                    srcset="https://mindcare.vn/wp-content/uploads/2020/05/8806_3914087093905_141371863_n.jpg 500w, https://mindcare.vn/wp-content/uploads/2020/05/8806_3914087093905_141371863_n-216x300.jpg 216w"
                                    sizes="(max-width: 500px) 100vw, 500px">
                            </div>
                            <style scope="scope">
                                #image_508893853 {
                                    width: 100%;
                                }


                                @media (min-width:550px) {

                                    #image_508893853 {
                                        width: 100%;
                                    }

                                }
                            </style>
                        </div>
                        <h4 style="text-align: center;"><span style="color: #1a8fd2;"><strong>ĐẶNG HOÀNG
                                    NGÂN</strong></span></h4>
                        <p style="text-align: center;">Tiến Sĩ Tâm Lý Học</p>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
    <div class="col medium-7 small-12 large-7" style="margin-left: -20%;">
        <div class="col-inner">
            <div class="row" id="row-2140779324">
                <div class="col medium-8 small-12 large-8">
                    <div class="col-inner">
                        <h3 style="text-align:left;color: blue;">NCS, ThS Tâm lý học đường Thân Thị Thủy </h3>
                        <p style="text-align: justify;">Chị từng được đào tạo Thạc sĩ về Tâm Lý Học Giáo Dục tại trường
                            Đại Học Sư Phạm Thành Phố Hồ Chí Minh &amp; ĐH Khoa Học Xã
                            Hội Và Nhân Văn, ĐH Quốc Gia Hà Nội.&nbsp;</p>
                        {{!-- <p style="text-align: justify;">Hướng nghiên cứu và phát triển:</p> --}}
                        <ul>
                            <li style="text-align: justify;">Chức danh: Chuyên gia tham vấn tâm lý.</li>
                            <li style="text-align: justify;">Email: ttthuy@thptnghen.edu.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col medium-7 small-12 large-7" style="margin-left: -5%;">
        <div class="col-inner">
            <div class="row" id="row-2140779324">
                <div class="col medium-8 small-12 large-8">
                    <div class="col-inner">
                        <h3 style="text-align:left;color: blue;">ThS Tâm lý lâm sàng Phùng Khắc Khoan </h3>
                        <p style="text-align: justify;">Chị từng được đào tạo Thạc sĩ về Tâm Lý Học Phát Triển trẻ em và thanh thiếu niên tại trường
                            Đại Học Khoa Học Xã Hội và Nhân Văn - Thành Phố Hồ Chí Minh &amp; ĐH Khoa Học Xã
                            Hội Và Nhân Văn, ĐH Quốc Gia Hà Nội.&nbsp;</p>
                        {{!-- <p style="text-align: justify;">Hướng nghiên cứu và phát triển:</p> --}}
                        <ul>
                            <li style="text-align: justify;">Chức danh: Chuyên gia tham vấn tâm lý.</li>
                            <li style="text-align: justify;">Email: Phungkhackhoan@thptnghen.edu.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col medium-7 small-12 large-7">
        <div class="col-inner">
            <div class="row" id="row-2140779324">
                <div class="col medium-8 small-12 large-8">
                    <div class="col-inner">
                        <h3 style="text-align:left;color: blue;">Cử nhân: Hoàng văn thức </h3>
                        <p style="text-align: justify;">Chị từng được đào tạo Thạc sĩ về Tâm Lý Học Giáo Dục tại trường
                            Đại Học Sư Phạm Thành Phố Hồ Chí Minh &amp; ĐH Khoa Học Xã
                            Hội Và Nhân Văn, ĐH Quốc Gia Hà Nội.&nbsp;</p>
                        {{!-- <p style="text-align: justify;">Hướng nghiên cứu và phát triển:</p> --}}
                        <ul>
                            <li style="text-align: justify;">Chức danh: Chuyên viên tâm lý học đường</li>
                            <li style="text-align: justify;">Email: hvthuctlh@thptnghen.edu.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>