 <!-- Page Content -->
  <div class="container">

    <div class="row" style="width: 155%;">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4" style="color: navy;">Giáo dục kỹ năng sống</h1>
        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <p class="card-text">Kỹ năng Sống qua 4 trụ cột của giáo dục theo UNESCO: Học để biết (learning to know), học để khẳng định bản thân (learning to be), 
                học để chung sống (learning to live together) và học để làm việc (learning to do).<br>
                Tiếp cận theo 4 trụ cột trên thì KNS có thể hiểu là: kỹ năng học tập, kỹ năng làm chủ bản thân, kỹ năng thích ứng và hòa nhập với cuộc sống, kỹ năng làm việc.<br>
                Tuy nhiên, kỹ năng sống (life skills) có thể hiểu là khả năng làm chủ bản thân của mỗi người, khả năng ứng xử phù hợp với những người khác, với xã hội và khả năng ứng phó tích cực trước các tình huống của cuộc sống.<br>
                Có thể nói kỹ năng sống chính là nhịp cầu giúp con người biến kiến thức thành thái độ, hành vi và thói quen tích cực, lành mạnh.<br>
                Ngoài ra nó còn là những kỹ năng về giao tiếp ứng xử được vận dụng trong những tình huống, để tương tác mọt cách hiệu quả với người khác và giải quyết có hiệu quả những vấn đề trong cuộc sống; đặc biệt là giúp cho mỗi cá nhân nhận biết và phát triển giá trị bản thân.<br>
                Giá trị bản thân là những phẩm chất sẵn có nơi con người, nó khiển cho con người có lòng tự trọng, sự tự tin vào bản thân và bảo vệ họ trước những tác động của môi trường sống chung quanh họ.<br>
                Thông qua các hoạt động thực hành, chương trình Giáo dục KNS của trường sẽ giúp trẻ trong 5 phạm trù:<br>
                -	<b>Bản thân:</b> Khám phá năng lực nội tại và giá trị bản thân để phát triển nhân cách – sự tự tin<br>
                -	<b>Bạn bè :</b>Xây dựng mối tương giao lành mạnh trên tình thân ái và sự tôn trọng<br>
                -	<b>Gia đình:</b> Gắn kết các mối tương tác và củng cố sự ổn định trong gia đình với tình yêu thương<br>
                -	<b>Nhà trường:</b> Tiếp nhận một cách chủ động các kiến thức theo tinh thần học để hiểu và làm<br>
                -	<b>Xã hội:</b> Phát huy năng lực để hội nhập với tinh thần giúp ích và sự hiểu biết<br>

            </p>
          </div>
        </div>
      </div>
         <div class="col-md-8">

        <h1 class="my-4" style="color: navy;">Thông tin lớp học</h1>
        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <p class="card-text">
                <h4>Lớp học</h4>
                Các lớp ngắn hạn: Theo từng chuyên đề - kỹ năng, học từ 1- 2 buổi.<br>
                Lồng ghép trong chương trình chính khóa tại  trường THPT Nghèn<br>
                <h4>Nội dung</h4>
                Các em sẽ được tham gia trong các hoạt động cá nhân – Nhóm, tập thể dưới nhiều hình thức khác nhau: Trò chơi (Tĩnh & Động) – Thảo luận (theo nhóm – qua Video Clip) Nghệ thuật (Vẽ - nặn tượng – gấp giấy – âm nhạc và Kịch nhập vai)<br>
                <h4>Nguyên Lý</h4>
                Các lớp học sẽ được tổ chức với nguyên tắc: Lý thuyết ứng dụng qua thực hành để các học viên có thể: “Học để biết, học để làm, học để chung sống và học để tự khẳng định mình”<br>
                Hiểu và áp dụng được nguyên lý xây dựng sự tự tin, kiên định và quyết đoán cho bản thân.<br>


            </p>
          </div>
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
      
    </div>
  </div>
  <!-- /.container -->