<div class="container">
     <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://tuvantamly.com.vn/wp-content/uploads/2020/06/tâm-lý-bất-ổn-thường-thấy-ở-trẻ-sharevn.org_-e1591952977152.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Những tổn thương tâm lý mà cha mẹ vô tình gây ra cho con trẻ</h2>
            <p class="card-text">Yêu thương – bao bọc quá, kỳ vọng và mong muốn nhiều quá từ cha mẹ đã vô tình bóp nghẹt tâm hồn con trẻ trong thế giới của riêng chúng. Tâm lý mặc cảm, bất an, lo hãi… trước những khó khăn và rắc rối trong đời sống của chính mình. Hoặc vô cảm, thờ ơ hay thật sự bối rối khi phải tương tác với vấn đề bên ngoài xã hội. Những bất ổn ấy thường chỉ nhìn thấy khi mọi việc trở nên quá sức chịu đựng từ chính phụ huynh hoặc chính bản thân đứa trẻ</p>
            <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Thức Hoàng - 09/19/2020
          </div>
        </div>
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Sự tuân thủ và bắt nạt học đường</h2>
            <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về niềm tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn. Sự tuân thủ mang ảnh hưởng rất mạnh, có thể hiện hữu dưới hình thức áp lực xã hội công khai hay những ảnh hưởng tiềm thức khó thấy. Dù cho chúng ta thích nghĩ bản thân mình là một cá nhân độc lập đến bao nhiêu thì thực tế là chúng ta luôn cố gắng để bản hòa nhập thích hợp hơn với một nhóm, và điều này thường có nghĩa rằng chúng ta đi theo dòng chảy.</p>
            <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Thức Hoàng - 20/10/2020
           
          </div>
        </div>
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Sự tuân thủ và bắt nạt học đường</h2>
            <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về niềm tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn. Sự tuân thủ mang ảnh hưởng rất mạnh, có thể hiện hữu dưới hình thức áp lực xã hội công khai hay những ảnh hưởng tiềm thức khó thấy. Dù cho chúng ta thích nghĩ bản thân mình là một cá nhân độc lập đến bao nhiêu thì thực tế là chúng ta luôn cố gắng để bản hòa nhập thích hợp hơn với một nhóm, và điều này thường có nghĩa rằng chúng ta đi theo dòng chảy.</p>
            <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Thức Hoàng - 20/10/2020
           
          </div>
        </div>
        
</div>