<div style="margin:0 5% 0 5%;">
  <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: x-large;">
          1. Tham vấn là gì? Sự khác nhau giữa tham vấn tâm lý và tư vấn tâm lý?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Tham vấn là một tiến trình tương tác giữa nhà tham vấn (NTV) và thân chủ (TC) – người đang có vấn đề, khó khăn về tâm lý muốn được giúp đỡ nhằm giúp TC chấp nhận thực tế của mình, xác định tiềm năng bản thân từ đó tự giải quyết vấn đề của mình.<br>
        Tâm lý là một ngành khoa học khá mới mẻ ở VN, chính vì vậy hiện nay nước ta vẫn chưa thống nhất về việc sử dụng khái niệm tham vấn hay tư vấn tâm lý. Tuy nhiên giữa tư vấn và tham vấn có những nét khác biệt khá cơ bản.
     
      <div style="margin-left: 20%;">
        <table cellspacing="0" cellpadding="0" border="1" style="border: medium none;" >
    <tbody>
        <tr>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border: 1pt solid; text-align: left;">
            <p style="text-align: center;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman'; color: #0070c0;">Tham vấn<em></em></span></strong></p>
            </td>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: solid solid solid none; text-align: left;">
            <p style="text-align: center;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman'; color: #0070c0;">Tư vấn<em></em></span></strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: none solid solid; text-align: left;">
            <p style="text-align: justify;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman';">Là cuộc nới chuyện mang tính cá nhân giữa NTV với một hoặc vài người đang cần sự hỗ trợ </span></strong><span style="font-size: 13pt; font-family: 'Times New Roman';">để đối mặt với khó khăn hoặc thách thức trong cuộc sống</span></p>
            <p style="text-align: justify;"><em></em></p>
            </td>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: none solid solid none; text-align: left;">
            <p style="text-align: justify;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman';">Tư vấn là cuộc nói chuyện giữa một “chuyên gia” về một lĩnh vực nào đó với một hoặc nhiều người đang cần lời khuyên hay chỉ dẫn</span></strong><span style="font-size: 13pt; font-family: 'Times New Roman';"> về lĩnh vực ấy (Tư vấn pháp luật, tư vấn tài chính…). <em></em></span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: none solid solid; text-align: left;">
            <p style="text-align: justify;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman';">Tham vấn là một tiến trình gồm nhiều cuộc nói chuyện nhằm giúp thân chủ sáng tỏ vấn đề, xác định khả năng và thế mạnh của bản thân</span></strong><span style="font-size: 13pt; font-family: 'Times New Roman';">, từ đó xem xét các giải pháp khả thi nhằm đưa ra lựa chọn tối ưu nhất<em></em></span></p>
            </td>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: none solid solid none; text-align: left;">
            <p style="text-align: justify;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman';">Quá trình tư vấn có thể diễn ra trong một buổi nói chuyện</span></strong><span style="font-size: 13pt; font-family: 'Times New Roman';">. Người tư vấn giúp thân chủ bằng cách đưa ra những lời khuyên về mặt chuyên môn, cho TC biết những quyết định họ cho là phù hợp nhất đối với tình huống của TC </span></p>
            <p style="text-align: justify;"><em></em></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: none solid solid; text-align: left;">
            <p style="text-align: justify;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman';">Ngoài kiến thức chuyên môn về tâm lý, NTV cần có kiến thức cơ bản trong nhiều lĩnh vực:</span></strong><span style="font-size: 13pt; font-family: 'Times New Roman';"> văn hóa, giáo dục, pháp luật, sức khỏe…Kỹ năng cơ bản của nhà tham vấn là lắng nghe, khai thác vấn đề, cảm xúc của TC.<em></em></span></p>
            </td>
            <td valign="top" style="width: 257.4pt; padding: 0in 5.4pt; border-style: none solid solid none; text-align: left;">
            <p style="text-align: justify;"><strong><span style="font-size: 13pt; font-family: 'Times New Roman';">Nhà tư vấn có kiến sâu trong một lĩnh vực nhất định</span></strong><span style="font-size: 13pt; font-family: 'Times New Roman';">, và có khả năng truyền đạt kiến thức đó đến TC của mình.</span></p>
            </td>
        </tr>
    </tbody>
</table>
      </div>
</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="font-size: x-large;">
          2. Nhà Tâm lý học đường -  họ là ai?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       <p style="text-align: justify;"><em><strong><span style="font-size: 13pt; font-style: normal; font-family: 'Times New Roman';">Nhà tâm lý học đường là một nhà sư phạm được cấp bằng đào tạo về tham vấn học đường với những ký năng chuyên biệt để hỗ trợ việc học, nhu cầu phát triển cá nhân, xã hội và nghề nghiệp của học sinh.</span></strong></em></p>
       <p style="text-align: justify;"><span style="font-size: 13pt; font-family: 'Times New Roman';">Ở các nước phát triển, nhà tâm lý học đường (School Psychologist) là thành phần không thể thiếu trong hệ thống trường học. Nhiệm vụ chính của họ là giúp học sinh thành công trong học tập, xã hội và đời sống tình cảm. Ngoài ra họ còn phối hợp với giáo viên, phụ huynh, các nhà chuyên môn khác nhằm tạo môi trường học tập an toàn, lành mạnh cho tất cả &nbsp;học sinh.</span></p>
       <p style="text-align: center;"><span style="font-size: 13pt; font-family: &quot;Times New Roman&quot;; text-align: center;">&nbsp;<img title="Nhấn vào ảnh để phóng to" class="anhnoidung" onclick="openModal(this)" alt="" src="https://f2.hcm.edu.vn/UploadImages/thpttrankhainguyen/thamvantamly.jpg?w=1000"></span></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="font-size: x-large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Nhà tham vấn có thể biết được suy nghĩ của người khác?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Nhiều học sinh không muốn hoặc xấu hổ  khi nói ra những suy nghĩ, diễn biến tâm lý của mình, cho rằng chỉ cần vài câu đơn giản thì nhà tham vấn có thể đoán được những suy nghĩ trong lòng mình,
         nếu không thì cho rằng trình độ của người tham vấn không cao. Thực ra, nhà tham vấn cũng là người, việc am hiểu ngôn ngữ cơ thể có thể giúp nhà họ nhận biết những mâu thuẫn giữa lời nói và cử chỉ của học sinh, nhưng cũng không thể giúp họ biết được học sinh thật sự đang nghĩ gì. Vì vậy việc cung cấp thông tin rõ ràng, tường tận sẽ giúp tiến trình tham vấn hiệu quả hơn.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="font-size: x-large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         4. Giáo viên phụ trách phòng tham vấn học đường sẽ  giúp giáo viên trừng trị những học sinh chưa ngoan?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Nhiều học sinh không muốn hoặc xấu hổ  khi nói ra những suy nghĩ, diễn biến tâm lý của mình, cho rằng chỉ cần vài câu đơn giản thì nhà tham vấn có thể đoán được những suy nghĩ trong lòng mình,
         nếu không thì cho rằng trình độ của người tham vấn không cao. Thực ra, nhà tham vấn cũng là người, việc am hiểu ngôn ngữ cơ thể có thể giúp nhà họ nhận biết những mâu thuẫn giữa lời nói và cử chỉ của học sinh, nhưng cũng không thể giúp họ biết được học sinh thật sự đang nghĩ gì. Vì vậy việc cung cấp thông tin rõ ràng, tường tận sẽ giúp tiến trình tham vấn hiệu quả hơn.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="font-size: x-large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          5. Tham vấn tâm lý ở trường là dành riêng cho học sinh hay là cho cả các bậc phụ huynh?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Nhiều học sinh không muốn hoặc xấu hổ  khi nói ra những suy nghĩ, diễn biến tâm lý của mình, cho rằng chỉ cần vài câu đơn giản thì nhà tham vấn có thể đoán được những suy nghĩ trong lòng mình,
         nếu không thì cho rằng trình độ của người tham vấn không cao. Thực ra, nhà tham vấn cũng là người, việc am hiểu ngôn ngữ cơ thể có thể giúp nhà họ nhận biết những mâu thuẫn giữa lời nói và cử chỉ của học sinh, nhưng cũng không thể giúp họ biết được học sinh thật sự đang nghĩ gì. Vì vậy việc cung cấp thông tin rõ ràng, tường tận sẽ giúp tiến trình tham vấn hiệu quả hơn.
      </div>
    </div>
  </div><div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="font-size: x-large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          6. Có phải những học sinh tìm đến phòng tham vấn học đường đều là những học sinh “có vấn đề”?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Nhiều học sinh không muốn hoặc xấu hổ  khi nói ra những suy nghĩ, diễn biến tâm lý của mình, cho rằng chỉ cần vài câu đơn giản thì nhà tham vấn có thể đoán được những suy nghĩ trong lòng mình,
         nếu không thì cho rằng trình độ của người tham vấn không cao. Thực ra, nhà tham vấn cũng là người, việc am hiểu ngôn ngữ cơ thể có thể giúp nhà họ nhận biết những mâu thuẫn giữa lời nói và cử chỉ của học sinh, nhưng cũng không thể giúp họ biết được học sinh thật sự đang nghĩ gì. Vì vậy việc cung cấp thông tin rõ ràng, tường tận sẽ giúp tiến trình tham vấn hiệu quả hơn.
      </div>
    </div>
  </div><div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="font-size: x-large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          7. Những người trẻ tuổi, chưa có nhiều kinh nghiệm sống có thể làm tốt công tác tham vấn tâm lý?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Nhiều học sinh không muốn hoặc xấu hổ  khi nói ra những suy nghĩ, diễn biến tâm lý của mình, cho rằng chỉ cần vài câu đơn giản thì nhà tham vấn có thể đoán được những suy nghĩ trong lòng mình,
         nếu không thì cho rằng trình độ của người tham vấn không cao. Thực ra, nhà tham vấn cũng là người, việc am hiểu ngôn ngữ cơ thể có thể giúp nhà họ nhận biết những mâu thuẫn giữa lời nói và cử chỉ của học sinh, nhưng cũng không thể giúp họ biết được học sinh thật sự đang nghĩ gì. Vì vậy việc cung cấp thông tin rõ ràng, tường tận sẽ giúp tiến trình tham vấn hiệu quả hơn.
      </div>
    </div>
  </div><div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="font-size: x-large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          8. Em  đang gặp khó khăn trong quan hệ với cô bạn cùng lớp, em có thể chia sẻ chuyện này với giáo viên tham vấn học đường? Khi nào em nên đến gặp nhà tham vấn?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Nhiều học sinh không muốn hoặc xấu hổ  khi nói ra những suy nghĩ, diễn biến tâm lý của mình, cho rằng chỉ cần vài câu đơn giản thì nhà tham vấn có thể đoán được những suy nghĩ trong lòng mình,
         nếu không thì cho rằng trình độ của người tham vấn không cao. Thực ra, nhà tham vấn cũng là người, việc am hiểu ngôn ngữ cơ thể có thể giúp nhà họ nhận biết những mâu thuẫn giữa lời nói và cử chỉ của học sinh, nhưng cũng không thể giúp họ biết được học sinh thật sự đang nghĩ gì. Vì vậy việc cung cấp thông tin rõ ràng, tường tận sẽ giúp tiến trình tham vấn hiệu quả hơn.
      </div>
    </div>
  </div>
</div>
</div>