<div class="row row-small" id="row-1218039693" style="margin-bottom: 3%;margin-left: 2%;" >

    <div class="col medium-7 small-12 large-7">
        <div class="col-inner" style="padding:0px 28px 0px 0px;margin:0px x 0px 0px;">
            <h2 style="font-size: 36px; line-height: 44px; text-align: center;"><span style="color: #36a264;"><b>Tầm Nhìn Và Sứ Mệnh</b></span></h2>
            <p style="text-align: justify; margin-top: 15px;"><span style="color: #282828;">Trường THPT Nghèn là một trong những trường thuộc top đầu tại Hà Tĩnh. Là cơ sở đào tạo và giáo dục, cũng như là nơi hội tụ những học sinh trình độ cao của Huyện. Phòng Tâm Lý học đường là nơi hỗ trợ, đánh giá…dành cho tất cả 
                học sinh trong trường. Chúng tôi bằng tâm huyết của mình luôn có khát vọng mãnh liệt mong muốn cống hiến một phần công sức của mình cho sự phát triển của ngành Tâm lý học tại học đường nói riêng và nâng cao đời sống tinh thần của tất cả học sinh nói chung. Chúng tôi rất mong muốn giúp cho tất cả học sinh chú trọng hơn về sức khoẻ tinh thần giống như chú trọng cho sức khoẻ thể chất vậy để mỗi ngày trôi qua các em lại cảm thấy hạnh phúc và yêu đời hơn ở môi trường học đường cũng như trong cuộc sống hằng ngày của các em.</span></p>
        </div>
    </div>



    <div class="col medium-5 small-12 large-5">
        <div class="col-inner">


            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_827347831">
                <a class="" href="https://mindcare.vn/san-pham/">
                    <div class="img-inner dark">
                        <img width="539" height="333"
                            src="https://mindcare.vn/wp-content/uploads/2020/04/Thiết-kế-không-tên-3.png"
                            class="attachment-large size-large" alt=""
                            srcset="https://mindcare.vn/wp-content/uploads/2020/04/Thiết-kế-không-tên-3.png 539w, https://mindcare.vn/wp-content/uploads/2020/04/Thiết-kế-không-tên-3-300x185.png 300w"
                            sizes="(max-width: 539px) 100vw, 539px">
                    </div>
                </a>
                <style scope="scope">
                    #image_827347831 {
                        width: 100%;
                    }
                </style>
            </div>

        </div>
    </div>



    <style scope="scope">

    </style>
</div>